// --------------------------------------------------- Variables
$background-color: #c4def7;
$primary-color: #fff;
$checkbox-border-color: #3cc367;
$checkbox-background-color: #cef0d9;
$task-input-color: #9aa8bc;
$task-title-color: #333e67;
$search-box-background: #f2f3f5;
$search-btn-background: #3d518f;
$google-search-placeholder: #b1b1b2;
$google-search-text-color: #4f6199;
$quick-access-border-color: #4f99c2;
$quick-access-logo-color: #1e2a58;
$clock-color: #276ef7;
$other-calendars-color: rgba(0, 0, 0, 0.5);
$weather-tempreture-color: #8951fe;

@mixin bold-text {
    font-family: "vazir-bold";
}

@mixin tempreture-icon-color($color:black, $size:1px) {
    border: $size solid $color;
}

@font-face {
    font-family: "vazir";
    src: url("./../../fonts/Vazir.ttf");
}

@font-face {
    font-family: "vazir-bold";
    src: url("./../../fonts/Vazir-Bold.ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazir";
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: $background-color;
}

.container {
    max-width: 1124px;
    height: 100vh;
    padding: 1rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: calc(25% - 16px) calc(50% - 16px) calc(25% - 16px);
    grid-template-rows: 40px 85px 172px 361px;
    // grid-template-rows: 40px 12% 25% 1fr;
    justify-content: center;
    gap: 16px;

    > * {
        direction: rtl;
        border-radius: 24px;
        background-color: $primary-color;
    }
}

.test {
    grid-row: 1/2;
    grid-column: 1 / -1;
    background-color: transparent;
    border: 1px solid blue;
}

.todo-list {
    grid-column: 3/4;
    grid-row: 2/-1;
    display: grid;
    grid-template-rows: auto 1fr auto;

    h2 {
        @include bold-text();
        padding: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .tasks-list {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .task {
        height: max-content;
        // padding: 1rem 0.5rem;
        padding: 4px;
        display: grid;
        grid-template-columns: auto 50% auto;
        align-items: center;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:hover .buttons-wrapper {
            opacity: 1;
            visibility: visible;
        }

        input {
            display: none;

            &:checked + label {
                background: $checkbox-background-color
                    url("./../../images/check-icon.svg") no-repeat center center /
                    80%;
            }

            &:checked ~ span {
                text-decoration: line-through;
                color: blue;
            }
        }

        label {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            cursor: pointer;
            border-radius: 5px;
            border: 2px solid $checkbox-border-color;
            background-color: $checkbox-background-color;
        }

        .task-title {
            color: $task-title-color;
        }

        .buttons-wrapper {
            display: flex;
            flex-direction: row-reverse;
            gap: 5px;
            opacity: 0;
            visibility: hidden;

            span {
                width: 20px;
                aspect-ratio: 1;
                display: block;
                cursor: pointer;
                background: no-repeat center center / 90%;
            }

            .delete-task {
                background-image: url("./../../images/delete-icon.png");
            }

            .edit-task {
                background-image: url("./../../images/edit-icon.png");
            }
        }
    }

    form {
        padding: 1rem 0.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;

        i {
            width: 12px;
            aspect-ratio: 1;
            display: block;
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translate(50%, -50%);
            background: url("./../../images/plus-icon.png") no-repeat center
                center / cover;
        }
    }

    .task-input {
        width: 100%;
        padding: 5px;
        font-size: 1rem;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        caret-color: rgba(0, 0, 0, 0.5);

        &:focus {
            outline: 1px solid green;
        }

        &::placeholder {
            @include bold-text();
            color: $task-input-color;
        }
    }
}

.search-box {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;

    form#search {
        width: 90%;
        height: 60%;
        position: relative;
    }

    .google-search-input {
        width: 100%;
        height: 100%;
        padding-right: calc(2rem + 10px);
        border-radius: 2rem;
        border: none;
        outline: none;
        color: $google-search-text-color;
        background-color: $search-box-background;

        &::placeholder {
            @include bold-text();
            color: $google-search-placeholder;
        }
    }

    .search-btn {
        height: 60%;
        aspect-ratio: 1.5/1;
        display: block;
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translate(0, -50%);
        border-radius: 2rem;
        border: none;
        outline: none;
        cursor: pointer;
        background: $search-btn-background url("./../../images/search-icon.png")
            no-repeat center center / 35%;
        transition: 0.2s;

        &:hover {
            scale: 1.05;
        }

        &:active {
            scale: 1;
        }
    }

    .google-logo {
        height: 50%;
        aspect-ratio: 1;
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        background: url("./../../images/google-logo.png") no-repeat center
            center / contain;
    }
}

.quick-access {
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fill, calc((100% / 6) - 10px));
    gap: 10px;
    justify-content: center;
    align-content: start;
    background-color: transparent;

    a {
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        border: 1px solid transparent;
        color: rgba(0, 0, 0, 0.6);
        background: $primary-color no-repeat center center / 30%;
        overflow: hidden;

        &[href=""] {
            background-image: url("./../../images/plus-icon.png");
        }

        &:first-child {
            @include bold-text();
            color: $quick-access-logo-color;
        }

        &:nth-child(2),
        &:hover:not(:first-child) {
            border-color: $quick-access-border-color;
        }

        img {
            width: 45%;
        }
    }
}
// -------------------------------------------------------------------------------------------------
.time-and-weather {
    grid-row: 2/4;
    grid-column: 1/2;
    display: flex;

    > * {
        width: 50%;
        max-height: 60%;
        overflow: hidden;
        border-bottom: 1px solid red;
    }

    .weather {
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, auto);
        place-items: center;
        // direction: ltr;
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        .weather-tempreture {
            @include bold-text();
            font-size: 1.8rem;
            color: $weather-tempreture-color;

            sup {
                @include tempreture-icon-color($weather-tempreture-color, 3px);
            }
        }

        .weather-status, .weather-btn {
            grid-column: 1/-1;
        }

        sup {
            @include tempreture-icon-color();
            width: .3em;
            aspect-ratio: 1;
            display: inline-block;
            transform: translate(0, -100%);
            border-radius: 50%;
        }
    }

    .time {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;

        .clock,
        .jalali-calendar {
            @include bold-text();
        }

        .clock {
            font-size: 1.8rem;
            color: $clock-color;
        }

        .other-calendars {
            display: flex;
            font-size: 8px;
            color: $other-calendars-color;

            > * {
                display: grid;
                place-content: center;
            }
        }

        .gregorian-calendar {
            width: 50%;
            height: fit-content;
            padding-right: 0.25rem;
            direction: ltr;
            border-right: 1px solid $other-calendars-color;
        }

        .hijri-calendar {
            padding-left: 0.25rem;
        }

        .time-buttons-wrapper {
            @include bold-text();
            font-size: 0.7rem;
            color: $other-calendars-color;
        }

        .timer,
        .oghat {
            padding: 0.25rem 0.5rem;
            border-radius: 15px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

a.reference {
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: dodgerblue;
}
