:root {
    --search-box-background: #f2f3f5;
    --search-btn-background: #3d518f;
    --google-search-placeholder: #b1b1b2;
    --google-search-text-color: #4f6199;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search-box {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 90%;
    height: 60%;
    position: relative;
}

.search__input {
    width: 100%;
    height: 100%;
    padding-right: calc(2rem + 10px);
    border-radius: 2rem;
    border: none;
    outline: none;
    color: var(--google-search-text-color);
    background-color: var(--search-box-background);
}

.search__input::placeholder {
    font-family: "vazir-bold";
    color: var(--google-search-placeholder);
}

.search__btn {
    height: 60%;
    aspect-ratio: 1.5/1;
    display: block;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--search-btn-background) url("./../images/search-icon.png") no-repeat center
        center/35%;
    transition: 0.2s;
}

.search__btn:hover {
    scale: 1.05;
}

.search__btn:active {
    scale: 1;
}

.google-logo {
    height: 50%;
    aspect-ratio: 1;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    background: url("./../images/google-logo.png") no-repeat center
        center/contain;
}

@media (min-width: 360px) and (max-width: 1025px) {
    .search__input {
        font-size: 1rem;
    }
}
