:root {
    --checkbox-border-color: #3cc367;
    --checkbox-background-color: #cef0d9;
    --task-input-color: #9aa8bc;
    --task-title-color: #333e67;
}

.todo-list {
    grid-column: 3/4;
    grid-row: 2/-1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.todo-list__header {
    font-family: "vazir-bold";
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tasks-list {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task {
    max-height: 30px;
    padding: 4px;
    display: grid;
    grid-template-columns: auto 50% auto;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.task:hover .task__options {
    opacity: 1;
    visibility: visible;
}

.task__complete-checkbox {
    display: none;
}

.task__complete-checkbox:checked + .task__checkbox-label {
    background: var(--checkbox-background-color) url("./../images/check-icon.svg") no-repeat center
        center / 80%;
}

.task__complete-checkbox:checked ~ .task__title {
    text-decoration: line-through;
    color: blue;
}

.task__checkbox-label {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--checkbox-border-color);
    background-color: var(--checkbox-background-color);
}

.task__title {
    color: var(--task-title-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task__options {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    opacity: 0;
    visibility: hidden;
}

.task__btn {
    width: 20px;
    aspect-ratio: 1;
    display: block;
    cursor: pointer;
    background: no-repeat center center / 90%;
}

.task__btn--delete {
    background-image: url("./../images/delete-icon.png");
}

.task__btn--edit {
    background-image: url("./../images/edit-icon.png");
}

.add-task {
    padding: 1rem 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.add-task__icon {
    width: 12px;
    aspect-ratio: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(50%, -50%);
    background: url("./../images/plus-icon.png") no-repeat center center/cover;
}

.add-task__input {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    caret-color: rgba(0, 0, 0, 0.5);
}

.add-task__input:focus {
    outline: 1px solid green;
}

.add-task__input::placeholder {
    font-family: "vazir-bold";
    color: var(--task-input-color);
}

@media (min-width: 360px) and (max-width: 1025px) {
    .todo-list {
        grid-row: -2/-1;
    }

    .todo-list__header {
        font-size: 1.8rem;
    }

    .task__title {
        font-size: 1.5rem;
    }

    .task__options {
        width: max-content;
        place-self: end;
        opacity: 1;
        visibility: visible;
    }

    .task__btn {
        width: 30px;
    }
}
